/*General*/
@font-face {
  font-family: myFirstFont;
  src: url(sansation_bold.woff);
  font-weight: bold;
}


/* To make sure no underline */
ul{list-style: none;} 

/* Aligning elelments at the center */
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*Create two uneven columns together*/
/*Two-column container*/
.row {
  display: flex;
  flex-wrap: wrap;
}

/*Styling Side Column*/
.side {
  flex: 30%;
  display: inline-block;
  background-color: gray;
  padding: 15px;
  text-align: center;
}

/*Styling Main Column*/
.main {
  flex: 50%;
  background-color:lightgray;
  font-size: large;
  padding: 10px;
}


/*------------------------------------------------------------*/
/* Styling the body */
body{
  background-color: #949393;
}
h1{
  font-family: 'Lucida console','monospace';
  font-weight: bolder;
}
p{
  font-size: large;
}
/*------------------------------------------------------------*/
/*Styling the homepage (text)*/
.homepage{
  font-family: myFirstFont;
  color: white;
  font-size: 100px;
  padding-top:12%;
}

/*Style button for homepage */
.homepagebtn {
  background-color: grey;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;  
}

/* Darker background on mouse-over for Homepage */
.homepagebtn:hover {
  background-color: rgb(231, 228, 228);
}

/*------------------------------------------------------------*/
/* Creating outside containers*/
.size {
  width: 900px; 
  height: 650px;
  background-color:whitesmoke ;
  padding: 20px;
}

.size1
{
  width: 900px; 
  height: 900px;
  background-color: whitesmoke;
  padding: 20px;
}

.size2
{
  width: 900px; 
  height: 460px;
  background-color: whitesmoke;
  padding: 20px;
}

.sizecontact
{
  width: 900px; 
  height: 460px;
  background-color: whitesmoke;
  padding: 20px;
  animation: fading 8s;
}

/*------------------------------------------------------------*/
/* image sizes*/
.img-abt-me{
  width: 300px;
  height: 360px;
}

.img-project1{
  width: 300px;
  height: 380px;
}

.img-project2{
  width: 300px;
  height: 310px;
}

/*------------------------------------------------------------*/
/* Styling of navigation bar  */
/*Create sidepanel of navigation box*/
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/*Styling the text */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 23px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/*When mouse hover over change colour*/
.sidepanel a:hover {
  color: #f1f1f1;
}

/*Styling the after closing sidepanel*/
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/*Styling the navigation bar*/
.openbtn {
  font-size: large;
  cursor: pointer;
  background-color:black;
  color: white;
  padding: 10px 10px;
  border: none;
  width: 100%;  
  text-align: left;
  height: 50px;
}

/*When mouse hover over change colour*/
.openbtn:hover {
  background-color:#444;
}


/*------------------------------------------------------------*/
/* Styling the footer*/
.footer{
  background-color: black;
  color: white;
  padding: 10px;
  height: 50px;
}

/*Sizing for icon images*/
.icon{
  width: 30px;
  height: 30px;
}

.positionright{
  float: right;
}

/*------------------------------------------------------------*/
/* Animation classes */
/*Animate from left side*/
.animate-left{
  position:relative;
  animation:animateleft 0.1s ease
}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

/*Animate from right side*/
.animate-right{
  position:relative;
  animation:animateright 0.1s ease
}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}

/*Animate from top */
.animate-top{
position:relative;
animation:animatetop 0.1s ease
}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}


/*------------------------------------------------------------*/
/*Creating a slideshow (My projects)*/
*{box-sizing: border-box}
.mySlides {display: none}
  
/* Slideshow container */
.slideshow-container{
  flex: 30%;
  height: 420px;
  display: inline-block;
  background-color: gray;
  padding: 15px;
  text-align: center;
}
  
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 65%;
  width:57%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

  display: block;
  margin-left: -10px;
  margin-right: auto;
  text-align: left;
}

/*Positioning the next button */
.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}

/* Styling the dots at the bottom */
.dot {
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 0 1px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*When mouse hover over change colour*/
.active, .dot:hover {
  background-color:  #bbb;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*Having animation duration/transition*/
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Having animation duration/transition*/
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*------------------------------------------------------------*/
/*Creating flexboxes for Skillset*/
/*Created container*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
}

/*Styled the list */
.flex-container > li {
  background-color: rgb(255, 166, 166);
  width: 250px;
  height: 290px;
  margin: 9px;
  padding: 7px;
  padding-top: 25px;
  font-size: 25px;
  text-align: center;
  color: white;
}

/*------------------------------------------------------------*/
/* Creating Timeline for work experience */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* vertical line*/
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  margin-left: 222px; 
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  left: 296px;
  background-color: inherit;
  width: 50%;
}

/* Styling circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 34px;
  height: 34px;
  right: -17px;
  background-color: white;
  border: 8px solid #FF9F55;
  top: 119px;
  border-radius: 50%;
  z-index: 1;
}

/* Positioning cirvle*/
.right::after {
  left: -95px; 
}

/* The actual content of timeline */
.content {
  padding: 13px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  width: 572px;
  height: 280px;
}

/*------------------------------------------------------------*/
/* Styling the form*/
.form {
  width: 55%;
  padding: 12px;
  margin: auto;
}
/*Fade animation*/
@keyframes fading{
  0%{opacity:0}
  50%{opacity:1}
}

/* Having the element to be top right */
.topright{position:absolute;
  right:0;
  top:0
}

/*------------------------------------------------------------*/
/*Creating a popup in Education*/
/*Outeside content layout*/
.popup{
  z-index:3;
  display:none;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)
}


.popup-container{
  padding:0.01em 16px;

}

/*Styling popup buttons*/
.popup-button{
  -webkit-touch-callout:none;
  -webkit-user-select:none;-khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none; 
}

/*Creating a popup in Education*/
.popup-content{
  margin:auto;
  background-color:rgb(214, 214, 214);
  position:relative;
  padding:0;
  outline:0;
  width:600px
}

/*Positiong button on top right*/
.popup-topright{
  position:absolute;
  right:0;
  top:0
}

/*Feature in skillset */
/* Transition animation*/
.appear {
  transition: all 400ms ease;
}

/*Styling of text */
.text {
  color: white;
  display: none;
  padding: 0px;
  margin-top: 0%;
}

/*When hover over, text appears */
.appear:hover p.text {
  display: inline-block;
  padding: 0px
}

/*When dont hover,text disappears */
.appear:hover p:not([class="text"]) {
  display: none;
}


/*------------------------------------------------------------*/
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 900px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons when hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*------------------------------------------------------------*/
/*Download resume*/
.button {
  background-color: black;
  border: none;
  color: white;
  padding: 5px 5px;
  font-size: large;
  cursor: pointer;
}

/* Darker background on mouse-over */
.button:hover {
  background-color: #444;
}
/*Creating mobile design*/
@media(max-width: 380px) {
  .row{display: block;}
  .size,.size1,.size2,.size3,.sizecontact,.tab{width: 375px;}
  .side,.slideshow-container{padding: 6%;}
  .size{height: 900px;}
  .size1{height: 1720px;}
  .sizecontact{height: 886px;}
  .timeline::after{left: -188px;}
  .container {padding:6px 0px;}
  .prev,.next{
    margin-left: -6px;
    margin-right: -6px;
    width:0%;
    top:68%;
  }
  .content {
    padding: 13px;
    position: relative;
    width: 356px;
    height: 361px;
  }
  
  .container::after {
    width: 22px;
    height: 22px;
    right: -43px;
    border: 4px;
    
  }
  .right::after {left: -276px;}
  .dot {margin: 4px 1px;}
  .openbtn,.footer,.form{width: 102%;}

  .flex-container > li {
    width: 315px;
    height: 210px;
    margin: 16px;
    padding: 7px;
    padding-top: 64px;
    font-size: 25px;
  }

  .flex-container {font-size: 26px;}

/****************/

}

