/*General*/
@font-face {
  font-family: myFirstFont;
  src: url(sansation_bold.woff);
  font-weight: bold;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 415px) {
  .prev, .next,.text {
    font-size: 11px,}
  .prev,.next{width: 0px;top:73%;}
  .footer{width: 100%;}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 414px) {
  .timeline::after {margin-left: 62px;}
  .right::after{left:-243px}
  .container{left: 158px;}
  h1{text-align: center;}


  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }  
}


/* To make sure no underline */
ul{list-style: none;} 

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*Create two uneven columns together*/
/*Two-column container*/
.row {
  display: flex;
  flex-wrap: wrap;
}

/*Styling Side Column*/
.side {
  flex: 30%;
  display: inline-block;
  background-color: gray;
  padding: 15px;
  text-align: center;
}

/*Styling Main Column*/
.main {
  flex: 50%;
  background-color:lightgray;
  font-size: large;
  padding: 10px;
}


/*------------------------------------------------------------*/
/* Styling the body */
body{
  background-color: #949393;
}
h1{
  font-family: 'Lucida console','monospace';
  font-weight: bolder;
}

p{
  font-size: large;
}

/*------------------------------------------------------------*/
/*Styling the homepage (text)*/
.homepage{
  font-family: myFirstFont;
  color: white;
  font-size: 100px;
  padding-top:12%;
}

/*Style button for homepage */
.homepagebtn {
  background-color: grey;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;  
}

/* Darker background on mouse-over for Homepage */
.homepagebtn:hover {
  background-color: rgb(231, 228, 228);
}

/*------------------------------------------------------------*/
/* Creating outside containers*/
.size {
  width: 900px; 
  height: 650px;
  background-color:whitesmoke ;
  padding: 20px;
}

.size1
{
  width: 900px; 
  height: 900px;
  background-color: whitesmoke;
  padding: 20px;
}

.size2
{
  width: 900px; 
  height: 460px;
  background-color: whitesmoke;
  padding: 20px;
}


.size3{
  width: 900px;
  background-color: whitesmoke;
  height: 1500px;
  padding: 20px;
}

.sizecontact
{
  width: 900px; 
  height: 460px;
  background-color: whitesmoke;
  padding: 20px;
  animation: fading 4s;
  animation-duration: 4s;
}

/*------------------------------------------------------------*/
/* image sizes*/
.img-abt-me{
  width: 300px;
  height: 360px;
}

.img-project1{
  width: 300px;
  height: 380px;
}

.img-project2{
  width: 300px;
  height: 310px;
}

/*------------------------------------------------------------*/
/* Styling of navigation bar  */

/*Create sidepanel of navigation box*/
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/*Styling the text */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 23px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/*When mouse hover over change colour*/
.sidepanel a:hover {
  color: #f1f1f1;
}

/*Styling the after closing sidepanel*/
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/*Styling the navigation bar*/
.openbtn {
  font-size: large;
  cursor: pointer;
  background-color:black;
  color: white;
  padding: 10px 10px;
  border: none;
  width: auto;  
  text-align: left;
  height: 50px;
}

/*When mouse hover over change colour*/
.openbtn:hover {
  background-color:#444;
}


/*------------------------------------------------------------*/
/* Styling the footer*/
.footer{
  background-color: black;
  color: white;
  padding: 10px;
  height: 50px;
}

/*Position elements to right */
.positionright{
  float: right;
}

/*Sizing for icon images*/
.icon{
  width: 30px;
  height: 30px;
}

/*------------------------------------------------------------*/
/* Animation classes */
/*Animate from left side*/
.animate-left{
  position:relative;
  animation:animateleft 0.10s
}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

/*Animate from right side*/
.animate-right{
  position:relative;
  animation:animateright 0.10s
}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}

/*Animate from top */
.animate-top{
position:relative;
animation:animatetop 0.2s
}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}


/*------------------------------------------------------------*/
/*Creating a slideshow (My projects)*/
*{box-sizing: border-box}
.mySlides {display: none}
  
/* Slideshow container */
.slideshow-container{
  flex: 30%;
  height: 420px;
  display: inline-block;
  background-color: gray;
  padding: 15px;
  text-align: center;
}
  
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 65%;
  width:57%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

  display: block;
  margin-left: -10px;
  margin-right: auto;
  text-align: left;
}

/*Positioning the next button */
.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}

/* Styling the dots at the bottom */
.dot {
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 0 1px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*When mouse hover over change colour*/
.active, .dot:hover {
  background-color:  #bbb;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*Having animation duration/transition*/
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Having animation duration/transition*/
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*------------------------------------------------------------*/
/*Creating flexboxes for Skillset*/
/*Created container*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
}

/*Styled the list */
.flex-container > li {
  background-color: rgb(255, 166, 166);
  width: 250px;
  height: 250px;
  margin: 9px;
  padding: 7px;
  padding-top: 80px;
  font-size: 25px;
  text-align: center;
  color: white;
}

/* Creating Timeline for work experience */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  margin-left: 231px; /* supposed to be -3*/
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  left:296px; /* self-create */
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  right: -17px;
  background-color: white;
  border: 8px solid #FF9F55;
  top: 119px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left:0;
}


/* Add arrows to the right container (pointing left) */
.right::before {
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -95px; 
}

/* The actual content */
.content {
  padding: 10px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  width: 572px;
  height: 280px;
}

/*------------------------------------------------------------*/
/* Styling the form*/
.form {
  width: 55%;
  padding: 12px;
  margin: auto;
}
/*Fade animation*/
@keyframes fading{
  0%{opacity:0}
  50%{opacity:1}
}

/* Having the element to be top right */
.topright{position:absolute;
  right:0;
  top:0
}


/*------------------------------------------------------------*/
/*Creating a popup in Education*/
/*Outeside content layout*/
.popup{
  z-index:3;
  display:none;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)
}
.popup-container{
  padding:0.01em 16px;

}

/*Styling popup buttons*/
.popup-button{
  -webkit-touch-callout:none;
  -webkit-user-select:none;-khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  
}

/*Creating a popup in Education*/
.popup-content{
  margin:auto;
  background-color:#fff;
  position:relative;
  padding:0;
  outline:0;
  width:600px;
}

/*Positiong button on top right*/
.popup-topright{
  position:absolute;
  right:0;
  top:0;
}

/* Skillset when hover text appears styling */
.appear {
  transition: all 400ms ease;
}



.appear:hover p.text {
  display: inline-block;
  padding: 0px
}


.appear:hover p:not([class="text"]) {
  display: none;
}




.text {
  color: white;
  display: none;
  margin-top: -10%;
  font-size: 15px;
}

/*------------------------------------------------------------*/
/* Style the tab inside My projects */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 900px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons when hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active tab */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*------------------------------------------------------------*/
/*Download resume*/
.button {
  background-color: black;
  border: none;
  color: white;
  padding: 5px 5px;
  font-size: large;
  cursor: pointer;
}

/* Darker background on mouse-over */
.button:hover {
  background-color: #444;
}


}